.nav-style{
    height:10%;
    background: #292752;
    color: white;
    position:fixed;
    top: 0;
  
  }
.logo{
    width: 25%;
    height: 25%;
    margin-left: 10px;
    margin-top: 5px;
  }

#animation_container{
    position: absolute;
    top: 125%;
    left: 23%;
}

.pagination{
    
    margin-left: 50%
    
    
  }