.navbar {
    background-color: #292752;
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0px;
}

.right-img {
    height: 50%;
    width: 60%;
}

.container-login {
    position: absolute;
    top: 260px;
    left: 500px;
}

.container h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.text-line {
    background-color: transparent;
    color: #5B5B5B;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #5B5B5B 2px;
    width: 330px;
    padding: 3px 10px;
    position: absolute;
    top: 360px;
    left: 870px;
}

.password {
    background-color: transparent;
    color: #5B5B5B;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #5B5B5B 2px;
    width: 330px;
    padding: 3px 10px;
    position: absolute;
    top: 420px;
    left: 870px;
}

.button-login {
    position: absolute;
    top: 520px;
    left: 920px;
    width: 230px;
    height: 38px;
    border-radius: 50px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    color: white;
    background-color: #C50227;
}

.logo {
    height: 55px;
    width: 59px;
    position: absolute;
    top: 8px;
    left: 50px;
}

.my-img {
    height: 55px;
    position: absolute;
    top: 8px;
    left: 130px;
    width: 250px;
}

.button-log {
    background-color: rgb(196, 28, 28);
    position: absolute;
    top: 15px;
    right: 190px;
    height: 35px;
    width: 150px;
    font-family: 'Roboto';
    font-weight: 500;
    border-radius: 30px;
    color: white;
}

.button-reg {
    background-color: rgb(196, 28, 28);
    position: absolute;
    top: 15px;
    right: 30px;
    height: 35px;
    width: 150px;
    font-family: 'Roboto';
    font-weight: 500;
    border-radius: 30px;
    color: white;
}

.button-login:hover {
    color: white;
    background-color: #A52B2A;
}

.alert-danger {
    position: absolute;
    top: 600px;
    left: 920px;
    width: 230px;
    height: 38px;
    border-radius: 50px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    padding-top: 5px;
}

.container {
    margin: 0px;
    padding: 0px;
}


/* radio button */

.radioa {
    position: absolute;
    top: 84%;
    left: 67%;
}

.custom-radio {
    margin-left: 20px;
}