/*navigation*/
.nav-style{
  background: #292752;
  color: white;
  position:fixed;
  top: 0;

}

.logo{
  width: 25%;
  height: 25%;
}
.float-right{
  margin-top: 15px;
}

/* image */
.image{
  margin-top: 10%;
  margin-left: 25%;
}
.thankyou{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btun{
  margin: 30px 0px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
