{% autoescape off %}
Dear {{user.get_last_name}} {{user.get_first_name}} ,

A request has been sent to reset your password for your Madras Christian College email account. Please click on the following link to reset your password {{protocol}}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}

We understand the importance of your email account for your academic and administrative activities, and we will ensure that your request is processed as soon as possible.

Please note that for security reasons, we cannot provide you with your old password. It will be replaced with a new password that you can change after logging in to your account.

Thank you,

System Administrator
Madras Christian College (AUTONOMOUS)
Tambaram East, Chennai 600059.
{% endautoescape %}
