.navbar{
  background-color: #292752;
  height: 70px;
  width: 100%;
  position: absolute;
  top: 0px;

}
.logo {
  height: 55px;
  width: 59px;
  position: absolute;
  top: 8px;
  left: 50px;

}
.button-log{
  color: white;

  position: absolute;
  top: 15px;
  right: 180px;
  height: 35px;
  width: 90px;
  font-family: 'Roboto';
  font-weight: 500;

}
.my-img{
    position: absolute;
    top: 8px;
    left: 130px;
    width: 250px;
}

.button-register{
  position: absolute;
  top: 600px;
  right: 130px;
  background-color: blue;
}

.button-reg{
  background-color: white;
  color: black;
  position: absolute;
  top: 15px;
  right: 60px;
  height: 35px;
  width: 130px;
  font-family: 'Roboto';
  font-weight: 500;
  border-radius: 30px;
}
.right-img{
  height: 40%;
  width: 60%;
  position: relative;
  top: 70px;
}
.container-reg{
  position: absolute;
  top: 150px;
  left: 850px;
}

/* textbox */

.text-line {
    background-color: transparent;
    color: #5B5B5B;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #5B5B5B 2px;
    width: 250px;
    padding: 3px 10px;


}

.regno{
  position:absolute;
  top: 250px;
  left: 800px;
}
.Name{
  position:absolute;
  top: 250px;
  left: 1100px;
}
.Number{
  position:absolute;
  top: 350px;
  left: 800px;
}
.Email{
  position:absolute;
  top: 350px;
  left: 1100px;

}
.password{
  position:absolute;
  top: 550px;
  left: 800px;
  width: 400px;
}


/* dropdown */
.select-course{
  background-color: #C50227;
  border-radius: 10px;
  outline: none;

  color: white;
  height: 40px;
  width: 150px;
  position:absolute;
  top: 450px;
  left: 800px;
  padding-left: 10px;

}
.list{
  background-color: White;
  color: Black;
  outline: none;
}
.list-disabled{
  background-color: grey;
  color: white;
}

.select-Year{
  outline: none;
  background-color: #C50227;
  border-radius: 10px;
  color: white;
  height: 40px;
  width: 150px;
  position:absolute;
  top: 450px;
  left: 1000px;
  padding-left: 10px;

}

.select-Stream{
  outline: none;
  background-color: #C50227;
  border-radius: 10px;
  color: white;
  height: 40px;
  width: 150px;
  position:absolute;
  top: 450px;
  left: 1200px;
  padding-left: 10px;
}


.btn-secondary{
  background-color: #C50227;
}
.button-register{
  position:absolute;
  top: 640px;
  left: 970px;
  width: 230px;
  height: 38px;
  border-radius: 50px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  color: white;
  background-color: #C50227;
}

.container{


  margin: 0px;
  padding: 0px;  
}