/* body styling */
.container-body{
  margin-top: 4%;
}
.img-left{
  margin-top: 16%;
}

/*navigation*/
.nav-style{
  background: #292752;
  color: white;
}
.logo{
  width: 25%;
  height: 25%;
}
.float-right{
  margin-top: 15px;
}
/* textbox */
h2{
  padding-bottom: 0px;
}
.text-line {
    background-color: transparent;
    color: #5B5B5B;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #5B5B5B 1px;
    width: 330px;
    padding: 3px 10px;
    margin-top: 40px;
}
/* file upload button */
.file{
  margin-top: 40px;
}
label {
  background-color:#333;
  color: #fff;
  padding: 0.5rem;
  font-family: sans-serif;
  font-weight:500;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.5s;
}
label:hover{
  background-color: #BDBDBD;
  color: #333;
}
/* Textarea */
.areabx{
  margin-top: 40px;
}
textarea{
  border-radius: 10px;
  border-color: #5B5B5B;
}
/* button */
.btnsubmit{
  margin-top: 40px;
}
a:link.link-delete{
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #C50227;
  padding: 8px 20px;
  border-radius: 6px;
}
a:visited.link-delete {
  color: white;
}
a:hover.link-delete {

  background: #9B011E;
  color: white;
}